/* Se invoca la ruta de los estilos de Bootstrap*/
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background-image: url('./assets/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}